<%- include('header'); -%>
  <div class="container text-white">
    <h1 class="mt-2">
      <%= title %>
    </h1>
    <hr>
    <div class="px-4">
      <%- body %>
    </div>
  </div>
  <%- include('footer'); -%>